<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipodocumntoEditDlg" widgetVar="TipodocumntoEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipodocumntoTitle}">
            <h:form id="TipodocumntoEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipodocumntoController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipodocumntoLabel_tipodocumntoNombre}" for="tipodocumntoNombre" />
                        <p:inputText id="tipodocumntoNombre" value="#{tipodocumntoController.selected.tipodocumntoNombre}" title="#{bundle.EditTipodocumntoTitle_tipodocumntoNombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipodocumntoController.update}" value="#{bundle.Save}" update="display,:TipodocumntoListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipodocumntoEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipodocumntoEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
