<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListTipodocumntoTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="TipodocumntoListForm">
                <p:panel header="#{bundle.ListTipodocumntoTitle}">
                    <p:dataTable id="datalist" value="#{tipodocumntoController.items}" var="item"
                                 selectionMode="single" selection="#{tipodocumntoController.selected}"
                                 paginator="true"
                                 rowKey="#{item.tipodocumntoId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipodocumntoTitle_tipodocumntoId}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipodocumntoId}"/>
                        </p:column>
                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListTipodocumntoTitle_tipodocumntoNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.tipodocumntoNombre}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{tipodocumntoController.prepareCreate}" update=":TipodocumntoCreateForm" oncomplete="PF('TipodocumntoCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":TipodocumntoViewForm" oncomplete="PF('TipodocumntoViewDialog').show()" disabled="#{empty tipodocumntoController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":TipodocumntoEditForm" oncomplete="PF('TipodocumntoEditDialog').show()" disabled="#{empty tipodocumntoController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{tipodocumntoController.destroy}" update=":growl,datalist" disabled="#{empty tipodocumntoController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
