<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipodocumntoViewDlg" widgetVar="TipodocumntoViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipodocumntoTitle}">
            <h:form id="TipodocumntoViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipodocumntoController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipodocumntoLabel_tipodocumntoId}"/>
                        <h:outputText value="#{tipodocumntoController.selected.tipodocumntoId}" title="#{bundle.ViewTipodocumntoTitle_tipodocumntoId}"/>
                        <h:outputText value="#{bundle.ViewTipodocumntoLabel_tipodocumntoNombre}"/>
                        <h:outputText value="#{tipodocumntoController.selected.tipodocumntoNombre}" title="#{bundle.ViewTipodocumntoTitle_tipodocumntoNombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipodocumntoViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
