<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        
        <h:link outcome="/materia/List" value="Modulo de ingresar Materias"/>
        <br />
        <h:link outcome="/persona/List" value="Modulo de ingresar Persona"/>
        <br />
        <h:link outcome="/personamateria/List" value="Modulo de ingresar creditos"/>
        <br />
        <h:link outcome="/tipodocumnto/List" value="Modulo de ingresar Tipo Documnto "/>
        <br />
        <h:link outcome="/tipopersona/List" value="Modulo de ingresar Rol "/>
    </h:body>





</html>

