<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipopersonaCreateDlg" widgetVar="TipopersonaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateTipopersonaTitle}">
            <h:form id="TipopersonaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipopersonaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateTipopersonaLabel_tipopersonaId}" for="tipopersonaId" />
                        <p:inputText id="tipopersonaId" value="#{tipopersonaController.selected.tipopersonaId}" title="#{bundle.CreateTipopersonaTitle_tipopersonaId}" required="true" requiredMessage="#{bundle.CreateTipopersonaRequiredMessage_tipopersonaId}"/>
                        <p:outputLabel value="#{bundle.CreateTipopersonaLabel_tipopersonaNombre}" for="tipopersonaNombre" />
                        <p:inputText id="tipopersonaNombre" value="#{tipopersonaController.selected.tipopersonaNombre}" title="#{bundle.CreateTipopersonaTitle_tipopersonaNombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipopersonaController.create}" value="#{bundle.Save}" update="display,:TipopersonaListForm:datalist,:growl" oncomplete="handleSubmit(args,'TipopersonaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipopersonaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
