<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipopersonaEditDlg" widgetVar="TipopersonaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditTipopersonaTitle}">
            <h:form id="TipopersonaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipopersonaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditTipopersonaLabel_tipopersonaId}" for="tipopersonaId" />
                        <p:inputText id="tipopersonaId" value="#{tipopersonaController.selected.tipopersonaId}" title="#{bundle.EditTipopersonaTitle_tipopersonaId}" required="true" requiredMessage="#{bundle.EditTipopersonaRequiredMessage_tipopersonaId}"/>
                        <p:outputLabel value="#{bundle.EditTipopersonaLabel_tipopersonaNombre}" for="tipopersonaNombre" />
                        <p:inputText id="tipopersonaNombre" value="#{tipopersonaController.selected.tipopersonaNombre}" title="#{bundle.EditTipopersonaTitle_tipopersonaNombre}" />
                    </p:panelGrid>
                    <p:commandButton actionListener="#{tipopersonaController.update}" value="#{bundle.Save}" update="display,:TipopersonaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'TipopersonaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="TipopersonaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
