<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="TipopersonaViewDlg" widgetVar="TipopersonaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewTipopersonaTitle}">
            <h:form id="TipopersonaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{tipopersonaController.selected != null}">
                        <h:outputText value="#{bundle.ViewTipopersonaLabel_tipopersonaId}"/>
                        <h:outputText value="#{tipopersonaController.selected.tipopersonaId}" title="#{bundle.ViewTipopersonaTitle_tipopersonaId}"/>
                        <h:outputText value="#{bundle.ViewTipopersonaLabel_tipopersonaNombre}"/>
                        <h:outputText value="#{tipopersonaController.selected.tipopersonaNombre}" title="#{bundle.ViewTipopersonaTitle_tipopersonaNombre}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="TipopersonaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
