<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Calzado Verazzy</title>
        <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
        <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Crops Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
              Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //Custom Theme files -->
        <!-- js -->
        <script src="js/jquery-1.11.1.min.js"></script> 
        <!-- //js -->	
        <!-- start-smoth-scrolling-->
        <script type="text/javascript" src="js/move-top.js"></script>
        <script type="text/javascript" src="js/easing.js"></script>	
        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $(".scroll").click(function (event) {
                    event.preventDefault();
                    $('html,body').animate({scrollTop: $(this.hash).offset().top}, 1000);
                });
            });
        </script>
        <!--//end-smoth-scrolling-->
    </head>
    <body>
        <!--header-->
        <div class="logo">
            <div class="container">
                <div class="logo-info">
                    <a href="index.html">
                        <h1>VERAZZY</h1>	
                        <span class="glyphicon-grain" ></span>
                    </a>
                </div>
            </div>	
        </div>
        <!--//header-->		
        <!--navigation-->
        <div class="top-nav">
            <nav class="navbar navbar-default">
                <div class="container">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">Menu						
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="hvr-bounce-to-bottom active"><a href="index.html">Home</a></li>
                        <li class="hvr-bounce-to-bottom"><a href="about.html">Sobre nosotros</a></li>
                        <li><a href="#" class="dropdown-toggle hvr-bounce-to-bottom" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Productos<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a class="hvr-bounce-to-bottom" href="gallery.html">Colección 2018</a></li>
                                       
                            </ul>
                        </li>	
                        <!--					<li class="hvr-bounce-to-bottom"><a href="codes.html">Short Codes</a></li>-->
                        <li class="hvr-bounce-to-bottom"><a href="contact.html">Contáctenos</a></li>
                    </ul>	
                    <div class="clearfix"> </div>
                </div>	
            </nav>		
        </div>	
	<!--//navigation-->
	<!--baner-->
<!--	<div class="baner about-bnr">
		<div class="container">
			<div class="baner-grids">
				<div class="col-md-6 baner-top">
					<img src="images/img16.jpg" alt=""/>
				</div>
				<div class="col-md-6 baner-top">
					<img src="images/img17.jpg" alt=""/>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>-->
	<!--//baner-->
	<!--map-->
	<div class="map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.5795215772496!2d-74.0613659!3d4.6688027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9af657e1d4a3%3A0x23f537baedfbc670!2sBogot%C3%A1%2C+Cundinamarca%2C+Colombia!5e0!3m2!1ses!2s!4v1432918903256\u0022"></iframe>		
	</div>
	<!--//map-->
	<!--contact-->
	<div class="contact">
		<div class="container" ng-app="app">
			<h3 class="title">Puedes realizar tus pedidos aquí</h3>
			<div class="contact-form" ng-controller="ContactController">
				<form name="formulario" id="formulario"method="get">
					<input type="text" placeholder="Nombre" name="name" id="name" required ng-model="form.usuNombre" ng-maxlength="200">
					<p ng-show="formulario.name.$invalid" class="help-block">revisa tu información, algo no está bien</p>
					<div class="col-md-6 cnt-inpt">
						<input placeholder="Email"type="email" name="email" id="email" placeholder="Ingresa tu email" required class="form-control" ng-model="form.usuCorreo" ng-maxlength="100">
						<p ng-show="formulario.email.$invalid" class="help-block">revisa tu información, algo no está bien</p>
					</div>
					<div class="col-md-6 cnt-inpt">
						<input type="text" placeholder="Telefono" name="celular" id="celular" placeholder="Ingresa tu celular" required class="form-control" ng-model="form.usuCelular" ng-maxlength="10" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\d{3}[- ]?\d{3}[- ]?\d{4}$/">
						<p ng-show="formulario.celular.$invalid" class="help-block">revisa tu información, algo no está bien</p>
					</div>
					<div class="clearfix"> </div>
					<textarea rows="4" name="message" id="message" required class="form-control" ng-model="form.usuMensaje" ng-maxlength="512"> Tu Pedido... </textarea>
					<p ng-show="formulario.message.$invalid" class="help-block">revisa tu información, algo no está bien</p>
					<input type="submit" value="Enviar" class="btn btn-primary btn-block" ng-click="submitbusqueda()">
				</form>
			</div>			
		</div>
	</div>
	<!--//contact-->	
	<!-- footer -->
	 <div class="footer">	
            <!--            <div class="container">
                            <div class="footer-grids">
                                <div class="col-md-3 footer-grid">
                                    <h3 class="title">Services</h3>
                                    <ul>
                                        <li><a href="#">Rerum hic tenetur</a></li>
                                        <li><a href="#">Molestiae non recusandae</a></li>
                                        <li><a href="#">Voluptates repudiandae</a></li>
                                        <li><a href="#">Necessitatibus saepe</a></li>
                                        <li><a href="#">Debitis aut rerum</a></li>
                                    </ul>
                                </div>
                                <div class="col-md-3 footer-grid">
                                    <h3 class="title">Information</h3>
                                    <ul>
                                        <li><a href="#">Quibusdam et aut</a></li>
                                        <li><a href="#">Testimonals</a></li>
                                        <li><a href="#">Archives</a></li>
                                        <li><a href="#">Our Staff</a></li>
                                    </ul>
                                </div>-->
            <div class="col-md-3 footer-grid">
                <h3 class="title">Más detalles</h3>
                <ul>
                    <li><a href="about.html">Sobre nosotros</a></li>
                    <li><a href="#">Términos y condiciones</a></li>
                    <li><a href="#">Políticas de privacidad </a></li>

                </ul>
            </div>
            <div class="col-md-3 footer-grid contact-grid">
                <h3 class="title">Contáctenos </h3>
                <ul>
<!--                    <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>Kra 3 # 82-29 Sur</li>							-->
                    <!--<li class="adrs">Bogota D.C</li>-->
                    <li><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+57 319 512 41 35</li>
                    <li><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="mailto:calzadoverazzy@gmail.com">calzadoverazzy@gmail.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="copy">
    <div class="container">
        <div class="copy-left">
            <p>Copyright © 2016 Pleione Solutions</p>
        </div>
        <div class="social-icons">
            <ul>
                <li><a href="#" class="fb"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#" class="gg"></a></li>
                <li><a href="#" class="pn"></a></li>					
            </ul>	
        </div>
        <div class="clearfix"> </div>
    </div>
</div>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="js/controller.js"></script>
<!--//footer-->
<!--smooth-scrolling-of-move-up-->
<script type="text/javascript">
    $(document).ready(function () {
        /*
         var defaults = {
         containerID: 'toTop', // fading element id
         containerHoverID: 'toTopHover', // fading element hover id
         scrollSpeed: 1200,
         easingType: 'linear' 
         };
         */

        $().UItoTop({easingType: 'easeOutQuart'});

    });
</script>
<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
<!--//smooth-scrolling-of-move-up-->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="js/bootstrap.js"></script>
</body>
</html>