<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Form</title>
	<h:outputStylesheet name="/css/bootstrap.min.css" />
</h:head>
<h:body>
	<style type="text/css">
.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell
	{
	text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
	align-items: center;
}
</style>
	<h:form>
		<p:panelGrid columns="2"
			columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
			layout="grid" styleClass="ui-panelgrid-blank ui-fluid"
			style="border:0px none; background-color:transparent;">

			<p:row styleClass="my-heading-row" style="font-weight: bold">
			Crear
            </p:row>

			<p:outputLabel></p:outputLabel>


			<p:outputLabel for="tdoc">Tipo Documento</p:outputLabel>
			<p:selectOneMenu id="tdoc"
				value="#{usuarioMB.usuario.idtipo_documento.id}">
				<f:selectItems value="#{tipoDocumentoMB.estadosCombo}" var="estadoItem"
					itemValue="#{estadoItem}" />

			</p:selectOneMenu>
			<p:outputLabel for="ndoc">Numero Documento</p:outputLabel>
			<p:inputText id="ndoc" value="#{usuarioMB.usuario.numero_documento}"
				required="true" />

			<p:outputLabel for="direccion">Direccion</p:outputLabel>
			<p:inputText id="direccion" value="#{usuarioMB.usuario.direccion}"
				required="true" />

			<p:outputLabel for="telefono">Telefono</p:outputLabel>
			<p:inputText id="telefono" value="#{usuarioMB.usuario.telefono}"
				required="true" />

			<p:outputLabel for="fecha">Fecha nacimiento</p:outputLabel>
			<p:datePicker id="fecha"
				value="#{usuarioMB.usuario.fecha_nacimiento}" readonlyInput="true" />

			<p:outputLabel for="login">Login</p:outputLabel>
			<p:inputText id="login" value="#{usuarioMB.usuario.login}"
				required="true" />

			<p:outputLabel for="password">Password</p:outputLabel>
			<p:inputText id="password" value="#{usuarioMB.usuario.password}"
				required="true" />
			<p:outputLabel for="estado">Estado</p:outputLabel>
			<p:selectOneMenu id="estado"
				value="#{usuarioMB.usuario.idestado_usuario.id}">
				<f:selectItems value="#{estadoUsuarioMB.estadosCombo}"
					var="estadoItem" itemValue="#{estadoItem}" />

			</p:selectOneMenu>
			<p:outputLabel for="rol">Rol</p:outputLabel>
			<p:selectOneMenu id="rol" value="#{usuarioMB.usuario.rol_idrol.id}">
				<f:selectItems value="#{rolMB.estadosCombo}" var="estadoItem"
					itemValue="#{estadoItem}" />

			</p:selectOneMenu>
			
			<p:row>
				<p:commandButton update="@form" value="Save"
					action="#{usuarioMB.actualizar()}" style="width: auto">
				</p:commandButton>
				<p:commandButton value="Back" style="width: auto" />
			</p:row>


		</p:panelGrid>
	</h:form>
</h:body>
</html>
