<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

<h:head>
	<title>User Details</title>
	<h:outputStylesheet name="/css/bootstrap.min.css" />

</h:head>
<h:body>
	
			<h:form>
				<div class="ui-fluid">
					<center>
						<h2>
							<h:outputLabel name="title">Solicitud Vacaciones</h:outputLabel>
						</h2>
					</center>
				</div>
				<br />
				<div class="p-field">

					<p:commandButton
						action="/usuario/createUsuario.xhtml?faces-redirect=true"
						value="Create New User" class="btn btn-success"></p:commandButton>


				</div>
				<br />
				<div class="p-field">
					<p:dataTable binding="#{table}"
						value="#{usuarioMB.listUsuario}" var="u">
						
						<p:column>
							<f:facet name="header">Estado</f:facet>
							<h:outputText value="#{u.idestado_usuario.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Rol</f:facet>
							<h:outputText value="#{u.rol_idrol.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Tipo Doc</f:facet>
							<h:outputText value="#{u.idtipo_documento.nombre}" />
						</p:column>
						<p:column>
							<f:facet name="header">Fecha Nacimiento</f:facet>
							<h:outputText value="#{u.fecha_nacimiento}" />
						</p:column>
						<p:column>
							<f:facet name="header">Telefono</f:facet>
							<h:outputText value="#{u.telefono}" />
						</p:column>
						<p:column>
							<f:facet name="header">Direccion</f:facet>
							<h:outputText value="#{u.direccion}" />
						</p:column>

						<p:column>
							<f:facet name="header"></f:facet>
							<p:commandButton
								action="#{usuarioMB.preparoActualizar(u.id)}"
								value="Actualizar">
							</p:commandButton>
							<p:commandButton action="#{usuarioMB.elminimar(u.id)}"
								value="Eliminar">
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</div>
			</h:form>
</h:body>
</html>
