<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonamateriaEditDlg" widgetVar="PersonamateriaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPersonamateriaTitle}">
            <h:form id="PersonamateriaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personamateriaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPersonamateriaLabel_materiamateriaid}" for="materiamateriaid" />
                        <p:selectOneMenu id="materiamateriaid" value="#{personamateriaController.selected.materiamateriaid}" required="true" requiredMessage="#{bundle.EditPersonamateriaRequiredMessage_materiamateriaid}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{materiaController.itemsAvailableSelectOne}"
                                           var="materiamateriaidItem"
                                           itemValue="#{materiamateriaidItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPersonamateriaLabel_personapersonaid}" for="personapersonaid" />
                        <p:selectOneMenu id="personapersonaid" value="#{personamateriaController.selected.personapersonaid}" required="true" requiredMessage="#{bundle.EditPersonamateriaRequiredMessage_personapersonaid}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{personaController.itemsAvailableSelectOne}"
                                           var="personapersonaidItem"
                                           itemValue="#{personapersonaidItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personamateriaController.update}" value="#{bundle.Save}" update="display,:PersonamateriaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PersonamateriaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonamateriaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
