<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">


        <ui:define name="title">
            <h:outputText value="#{bundle.ListPersonamateriaTitle}"></h:outputText>
        </ui:define>

        <ui:define name="body">
            <h:form id="PersonamateriaListForm">
                <p:panel header="#{bundle.ListPersonamateriaTitle}">
                    <p:dataTable id="datalist" value="#{personamateriaController.items}" var="item"
                                 selectionMode="single" selection="#{personamateriaController.selected}"
                                 paginator="true"
                                 rowKey="#{item.personamateriaId}"
                                 rows="10"
                                 rowsPerPageTemplate="10,20,30,40,50"
                                 >

                        <p:ajax event="rowSelect"   update="createButton viewButton editButton deleteButton"/>
                        <p:ajax event="rowUnselect" update="createButton viewButton editButton deleteButton"/>

                        <p:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonamateriaTitle_personamateriaId}"/>
                            </f:facet>
                            <h:outputText value="#{item.personamateriaId}"/>
                        </p:column>
                        <p:column filterBy="#{item.materiamateriaid.materiaNombre}" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPersonamateriaTitle_materiamateriaid}"/>
                            </f:facet>
                            <h:outputText value="#{item.materiamateriaid.materiaNombre}"/>
                        </p:column>
                        <p:column filterBy="#{item.personapersonaid.tipoPersonatipopersonaid.tipopersonaNombre}" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="Rol"/>
                            </f:facet>
                            <h:outputText value="#{item.personapersonaid.tipoPersonatipopersonaid.tipopersonaNombre}"/>
                        </p:column>
                        <p:column filterBy="#{item.personapersonaid.personaNombre}" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="Nombre"/>
                            </f:facet>
                            <h:outputText value="#{item.personapersonaid.personaNombre}"/>
                        </p:column>
                        <p:column filterBy="#{item.personapersonaid.personaApellido}" filterMatchMode="contains">
                            <f:facet name="header">
                                <h:outputText value="Apellido"/>
                            </f:facet>
                            <h:outputText value="#{item.personapersonaid.personaApellido}"/>
                        </p:column>
                        <f:facet name="footer">
                            <p:commandButton id="createButton" icon="ui-icon-plus"   value="#{bundle.Create}" actionListener="#{personamateriaController.prepareCreate}" update=":PersonamateriaCreateForm" oncomplete="PF('PersonamateriaCreateDialog').show()"/>
                            <p:commandButton id="viewButton"   icon="ui-icon-search" value="#{bundle.View}" update=":PersonamateriaViewForm" oncomplete="PF('PersonamateriaViewDialog').show()" disabled="#{empty personamateriaController.selected}"/>
                            <p:commandButton id="editButton"   icon="ui-icon-pencil" value="#{bundle.Edit}" update=":PersonamateriaEditForm" oncomplete="PF('PersonamateriaEditDialog').show()" disabled="#{empty personamateriaController.selected}"/>
                            <p:commandButton id="deleteButton" icon="ui-icon-trash"  value="#{bundle.Delete}" actionListener="#{personamateriaController.destroy}" update=":growl,datalist" disabled="#{empty personamateriaController.selected}"/>
                        </f:facet>
                    </p:dataTable>
                </p:panel>
            </h:form>

            <ui:include src="Create.xhtml"/>
            <ui:include src="Edit.xhtml"/>
            <ui:include src="View.xhtml"/>
        </ui:define>
    </ui:composition>

</html>
