<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonamateriaViewDlg" widgetVar="PersonamateriaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersonamateriaTitle}">
            <h:form id="PersonamateriaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personamateriaController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersonamateriaLabel_personamateriaId}"/>
                        <h:outputText value="#{personamateriaController.selected.personamateriaId}" title="#{bundle.ViewPersonamateriaTitle_personamateriaId}"/>
                        <h:outputText value="#{bundle.ViewPersonamateriaLabel_materiamateriaid}"/>
                        <h:outputText value="#{personamateriaController.selected.materiamateriaid.materiaNombre}" title="#{bundle.ViewPersonamateriaTitle_materiamateriaid}"/>
                        <h:outputText value="#{bundle.ViewPersonamateriaLabel_personapersonaid}"/>
                        <h:outputText value="#{personamateriaController.selected.personapersonaid.personaNombre}" title="#{bundle.ViewPersonamateriaTitle_personapersonaid}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersonamateriaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
