<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>Login</title>
	<h:outputStylesheet name="/css/bootstrap.min.css" />

</h:head>
<h:body>
<style type="text/css">
.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell
	{
	text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
	align-items: center;
}
</style>
	<h:form>
		<div class="ui-fluid">
			<center>
				<h2>
					<h:outputLabel name="title">Login</h:outputLabel>
				</h2>
			</center>
		</div>
		<br />
		<div class="card">
			<center>
				<p:messages id="msgs" />

				<h:panelGrid columns="3" cellpadding="7" styleClass="p-mb-3">
					<p:outputLabel for="firstname" value="Firstname:" />
					<p:inputText id="firstname"
						value="#{loginMB.firstname}" required="true"
						label="Firstname">
						<f:validateLength minimum="2" />
					</p:inputText>
					<p:message for="firstname" display="icon" />

					<p:outputLabel for="lastname" value="Lastname:" />
					<p:inputText id="lastname" value="#{loginMB.lastname}"
						label="Lastname" required="true">
						<f:validateLength minimum="2" />
						<p:ajax update="msgLastname" event="keyup" />
					</p:inputText>
					<p:message for="lastname" id="msgLastname" display="icon" />

				</h:panelGrid>

				<p:commandButton value="Save" update="@form"
					action="#{loginMB.entrar()}" icon="pi pi-check" />
			</center>
		</div>


	</h:form>
</h:body>
</html>
