<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:h="http://xmlns.jcp.org/jsf/html">

<h:head>
	<title>Bienvenido</title>
</h:head>
<h:body>
	<h:form id="menu">
		<p:panelMenu style="width:auto ; font-size: small">
			<p:submenu label="Configuración">
				<p:menuitem value="Usuarios" outcome="/usuario/listUsuario"
					icon="pi pi-upload" />
				<p:menuitem value="Estados de usuario"
					outcome="/estado-usuario/listEstadoUsuario" icon="pi pi-upload" />
				<p:menuitem value="Solicitud de vacaciones"
					outcome="/estado-solicitud/listEstadoSolicitud" icon="pi pi-upload" />
				<p:menuitem value="Festivos" outcome="/festivo/listFestivo"
					icon="pi pi-upload" />
				<p:menuitem value="Roles" outcome="/rol/listRol" icon="pi pi-upload" />
				<p:menuitem value="Tipo documento"
					outcome="/tipo-documento/listTipoDocumento" icon="pi pi-upload" />
			</p:submenu>
		</p:panelMenu>
		<p:panelMenu style="width:auto ; font-size: small">
			<p:submenu label="Solicitudes">
				<p:menuitem value="Solicitud de vacaciones"
					outcome="/solicitud-vacaciones/listSolicitudVacaciones"
					icon="pi pi-upload" />
				<p:menuitem value="Calendario de vacaciones"
					outcome="calendar"
					icon="pi pi-upload" />
			</p:submenu>
		</p:panelMenu>
	</h:form>
</h:body>
</html>
