<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Form</title>
	<h:outputStylesheet name="/css/bootstrap.min.css" />
</h:head>
<h:body>
	<style type="text/css">
.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell
	{
	text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
	align-items: center;
}
</style>
	<h:form>
		<p:panelGrid columns="2"
			columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
			layout="grid" styleClass="ui-panelgrid-blank ui-fluid"
			style="border:0px none; background-color:transparent;">

			<p:row styleClass="my-heading-row" style="font-weight: bold">
			Crear
            </p:row>

			<p:outputLabel></p:outputLabel>
			<p:outputLabel for="fecha">Fecha solicitud</p:outputLabel>
			<p:datePicker id="fecha" selectionMode="range"
				value="#{solicitudVacacionesMB.rango}" readonlyInput="true">
				<p:ajax event="dateSelect" listener="#{solicitudVacacionesMB.tratamientoFecha()}" update="dias" />
				 </p:datePicker>
			<p:outputLabel for="dias">Días</p:outputLabel>
			<p:inputText id="dias"
				value="#{solicitudVacacionesMB.solicitud.dias}" required="true"
				disabled="true" />
			<p:outputLabel for="estado">Estado</p:outputLabel>
			<p:selectOneMenu id="estado"
				value="#{solicitudVacacionesMB.solicitud.idestado_solicitud.id}">
				<f:selectItems value="#{estadoSolicitudMB.estadosCombo}"
					var="estadoItem" itemValue="#{estadoItem}" />
				
			</p:selectOneMenu>

			<p:row>
				<p:commandButton update="@form" value="Save"
					action="#{solicitudVacacionesMB.guardar()}" style="width: auto">
				</p:commandButton>
				<p:commandButton value="Back" style="width: auto" />
			</p:row>


		</p:panelGrid>
	</h:form>
</h:body>
</html>
