<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MateriaCreateDlg" widgetVar="MateriaCreateDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.CreateMateriaTitle}">
            <h:form id="MateriaCreateForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materiaController.selected != null}">
                        <p:outputLabel value="#{bundle.CreateMateriaLabel_materiaNombre}" for="materiaNombre" />
                        <p:inputText id="materiaNombre" value="#{materiaController.selected.materiaNombre}" title="#{bundle.CreateMateriaTitle_materiaNombre}" />
                        <p:outputLabel value="#{bundle.CreateMateriaLabel_materiaCreditos}" for="materiaCreditos" />
                        <p:inputText id="materiaCreditos" value="#{materiaController.selected.materiaCreditos}" title="#{bundle.CreateMateriaTitle_materiaCreditos}">
                        <p:watermark for="materiaCreditos" value="3" />  </p:inputText>
                        
                    </p:panelGrid>
                    <p:commandButton actionListener="#{materiaController.create}" value="#{bundle.Save}" update="display,:MateriaListForm:datalist,:growl" oncomplete="handleSubmit(args,'MateriaCreateDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="MateriaCreateDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
