<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="MateriaViewDlg" widgetVar="MateriaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewMateriaTitle}">
            <h:form id="MateriaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{materiaController.selected != null}">
                        <h:outputText value="#{bundle.ViewMateriaLabel_materiaId}"/>
                        <h:outputText value="#{materiaController.selected.materiaId}" title="#{bundle.ViewMateriaTitle_materiaId}"/>
                        <h:outputText value="#{bundle.ViewMateriaLabel_materiaNombre}"/>
                        <h:outputText value="#{materiaController.selected.materiaNombre}" title="#{bundle.ViewMateriaTitle_materiaNombre}"/>
                        <h:outputText value="#{bundle.ViewMateriaLabel_materiaCreditos}"/>
                        <h:outputText value="#{materiaController.selected.materiaCreditos}" title="#{bundle.ViewMateriaTitle_materiaCreditos}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="MateriaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
