<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonaEditDlg" widgetVar="PersonaEditDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.EditPersonaTitle}">
            <h:form id="PersonaEditForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personaController.selected != null}">
                        <p:outputLabel value="#{bundle.EditPersonaLabel_personaNombre}" for="personaNombre" />
                        <p:inputText id="personaNombre" value="#{personaController.selected.personaNombre}" title="#{bundle.EditPersonaTitle_personaNombre}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_personaApellido}" for="personaApellido" />
                        <p:inputText id="personaApellido" value="#{personaController.selected.personaApellido}" title="#{bundle.EditPersonaTitle_personaApellido}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_personaTelefono}" for="personaTelefono" />
                        <p:inputText id="personaTelefono" value="#{personaController.selected.personaTelefono}" title="#{bundle.EditPersonaTitle_personaTelefono}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_personaDocumento}" for="personaDocumento" />
                        <p:inputText id="personaDocumento" value="#{personaController.selected.personaDocumento}" title="#{bundle.EditPersonaTitle_personaDocumento}" />
                        <p:outputLabel value="#{bundle.EditPersonaLabel_tipoDocumntotipodocumntoid}" for="tipoDocumntotipodocumntoid" />
                        <p:selectOneMenu id="tipoDocumntotipodocumntoid" value="#{personaController.selected.tipoDocumntotipodocumntoid}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_tipoDocumntotipodocumntoid}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipodocumntoController.itemsAvailableSelectOne}"
                                           var="tipoDocumntotipodocumntoidItem"
                                           itemValue="#{tipoDocumntotipodocumntoidItem}"/>
                        </p:selectOneMenu>
                        <p:outputLabel value="#{bundle.EditPersonaLabel_tipoPersonatipopersonaid}" for="tipoPersonatipopersonaid" />
                        <p:selectOneMenu id="tipoPersonatipopersonaid" value="#{personaController.selected.tipoPersonatipopersonaid}" required="true" requiredMessage="#{bundle.EditPersonaRequiredMessage_tipoPersonatipopersonaid}">
                            <f:selectItem itemLabel="#{bundle.SelectOneMessage}"/>
                            <f:selectItems value="#{tipopersonaController.itemsAvailableSelectOne}"
                                           var="tipoPersonatipopersonaidItem"
                                           itemValue="#{tipoPersonatipopersonaidItem}"/>
                        </p:selectOneMenu>
                    </p:panelGrid>
                    <p:commandButton actionListener="#{personaController.update}" value="#{bundle.Save}" update="display,:PersonaListForm:datalist,:growl" oncomplete="handleSubmit(args, 'PersonaEditDialog');"/>
                    <p:commandButton value="#{bundle.Cancel}" onclick="PersonaEditDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
