<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition>

        <p:dialog id="PersonaViewDlg" widgetVar="PersonaViewDialog" modal="true" resizable="false" appendTo="@(body)" header="#{bundle.ViewPersonaTitle}">
            <h:form id="PersonaViewForm">
                <h:panelGroup id="display">
                    <p:panelGrid columns="2" rendered="#{personaController.selected != null}">
                        <h:outputText value="#{bundle.ViewPersonaLabel_personaId}"/>
                        <h:outputText value="#{personaController.selected.personaId}" title="#{bundle.ViewPersonaTitle_personaId}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_personaNombre}"/>
                        <h:outputText value="#{personaController.selected.personaNombre}" title="#{bundle.ViewPersonaTitle_personaNombre}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_personaApellido}"/>
                        <h:outputText value="#{personaController.selected.personaApellido}" title="#{bundle.ViewPersonaTitle_personaApellido}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_personaTelefono}"/>
                        <h:outputText value="#{personaController.selected.personaTelefono}" title="#{bundle.ViewPersonaTitle_personaTelefono}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_personaDocumento}"/>
                        <h:outputText value="#{personaController.selected.personaDocumento}" title="#{bundle.ViewPersonaTitle_personaDocumento}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_tipoDocumntotipodocumntoid}"/>
                        <h:outputText value="#{personaController.selected.tipoDocumntotipodocumntoid.tipodocumntoNombre}" title="#{bundle.ViewPersonaTitle_tipoDocumntotipodocumntoid}"/>
                        <h:outputText value="#{bundle.ViewPersonaLabel_tipoPersonatipopersonaid}"/>
                        <h:outputText value="#{personaController.selected.tipoPersonatipopersonaid.tipopersonaNombre}" title="#{bundle.ViewPersonaTitle_tipoPersonatipopersonaid}"/>
                    </p:panelGrid>
                    <p:commandButton value="#{bundle.Close}" onclick="PersonaViewDialog.hide()"/>
                </h:panelGroup>
            </h:form>
        </p:dialog>

    </ui:composition>
</html>
