<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"  
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<title>Form</title>
	<h:outputStylesheet name="/css/bootstrap.min.css" />
</h:head>
<h:body>
	<style type="text/css">
.ui-panelgrid.showcase-text-align-center .ui-grid-responsive .ui-panelgrid-cell
	{
	text-align: center;
}

.customPanelGrid .ui-panelgrid-content {
	align-items: center;
}
</style>
	<h:form>
		<p:panelGrid columns="2"
			columnClasses="ui-grid-col-2,ui-grid-col-4,ui-grid-col-2,ui-grid-col-4"
			layout="grid" styleClass="ui-panelgrid-blank ui-fluid"
			style="border:0px none; background-color:transparent;">

			<p:row styleClass="my-heading-row" style="font-weight: bold">
			Crear
            </p:row>

			<p:outputLabel></p:outputLabel>

			<p:outputLabel for="fecha">Fecha Festivo</p:outputLabel>
			<p:datePicker id="fecha" value="#{festivoMB.festivo.fecha}"
				required="true" />
			<p:outputLabel for="dias">Nombre</p:outputLabel>
			<p:inputText id="dias" value="#{festivoMB.festivo.nombre}"
				required="true" />
			<p:outputLabel for="desc">Descripción</p:outputLabel>
			<p:inputText id="desc" value="#{festivoMB.festivo.descripcion}"
				required="true"></p:inputText>

			<p:row>
				<p:commandButton update="@form" value="Save"
					action="#{festivoMB.actualizar()}" style="width: auto">
				</p:commandButton>
				<p:commandButton value="Back" style="width: auto" />
			</p:row>


		</p:panelGrid>
	</h:form>
</h:body>
</html>
